*,
*::before,
*::after {
  box-sizing: border-box;
}

/*Set the root item pls dont forget mega important */
:root {
  --button: rgb(55, 133, 169);
  --focus: rgb(37, 181, 18);
  --delete: rgb(198, 75, 75);
  --sucess: rgb(88, 224, 70);
}

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  background-color: rgb(221, 208, 208);
  letter-spacing: 1px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

.item {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: beige;
  gap: 5%;
}

.item-food {
  display: flex;
  flex-flow: column wrap;
  flex-grow: 3;
}

button {
  background-color: var(--button);
  border: 4px solid #ebebeb;
  padding: 3em;
}

button:hover,
button:focus {
  background-color: var(--focus);
  border: 4px solid #ebebeb;
  padding: 3em;
}

nav {
  background-image: url(./images/burger.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.logo-here {
  color: white;
  padding: 2em 2.5em;
  backdrop-filter: blur(10px);
  height: 100%;
}

main {
  padding: 2em 2.5em;
}

.item-photo {
  font-size: 3rem;
  padding: 0 0.5em 0 0;
}

.item-order {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  box-shadow: 0px 11px 10px 2px #b0acac;
}

.container {
  display: flex;
  flex-flow: column;
}

#icon-cart {
  font-size: 3em;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  right: 3px;
  color: #ebebeb;
}

.line {
  background-image: linear-gradient(to left, var(--button), rgb(0, 0, 0));
  width: 100%;
  height: 5px;
}

.summery-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0em 1em;
}

.summery-item:last-child {
  border-bottom: 3px solid rgb(151, 115, 115);
  padding-bottom: 2em;
  margin-bottom: 2em;
}
.order {
  text-align: center;
  padding: 2em 0 0 0;
}

.summery-flex {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.remove-btn {
  border: none;
  background-color: rgb(221, 208, 208);
  color: rgb(210, 72, 72);
  padding: 0.5em 1em;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  flex-grow: 1;
  text-align: left;
  display: flex;
  align-items: flex-start;
}
.remove-btn:hover,
.remove-btn:focus {
  border: none;
  background-color: #aaaaaa;
  padding: 0.5em 1em;
  color: var(--delete);
  display: block;
}

.sum {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0em 1em 5em 1em;
}

.order-btn {
  width: 100%;
  height: 5vh;
  padding: 1.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--sucess);
  border: none;
  margin-bottom: 10em;
  font-size: 1.3rem;
  border-radius: 10px;
  cursor: pointer;
}

.order-btn:focus,
.order-btn:hover {
  width: 100%;
  height: 5vh;
  padding: 1.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--sucess);
  border: none;
  margin-bottom: 10em;
  font-size: 1.3rem;
  cursor: pointer;
}

.pay {
  display: none;
  flex-flow: column nowrap;
  justify-content: center;
  lighting-color: cadetblue;
  height: 75vh;
  width: 40vw;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  background-color: #ebebeb;
  border: 3px solid var(--focus);
  box-shadow: 0px 10px 10px 10px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
}
.info {
  margin-top: 1em;
  text-align: center;
}
input {
  height: 10vh;
  font-size: 1.3rem;
  padding: 1em 1em;
  margin: 1em;
}

.pay-btn {
  border: none;
  font-size: 1.3rem;
  padding: 1em 1em;
  margin: 1em;
  background-color: var(--focus);
  cursor: pointer;
  border-radius: 20px;
  border: 2px solid black;
  transform: translate(0, 0);
  transition: transform 0.5s ease;
}

.pay-btn:hover,
.pay.btn:focus {
  border: none;
  font-size: 1.3rem;
  padding: 1em 1em;
  margin: 1em;
  border: 2px solid black;
  transform: scale(0.9);
}

.container-unlickable {
  pointer-events: none;
  opacity: 0.2;
}

.thanks-to {
  background-color: rgb(122, 241, 122);
  display: none;
}

.thanks-to h3,
.thanks-to h2 {
  text-align: center;
  padding: 0.5em;
}

.pay-close {
  margin-left: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10%;
  margin-top: 10px;
  margin-right: 10px;
  padding: 10px 10px;
  border-radius: 20px;
  background: #ebebeb;
  cursor: pointer;
}

@media (max-width: 1200px) {
  .item {
    flex-flow: row wrap;
    gap: 20%;
  }
  .item-order {
    margin-top: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 60px;
    border-radius: 20px;
  }
}

@media (max-width: 990px) {
  .item {
    display: flex;
    flex-flow: column wrap;
  }
  .item-photo {
    margin-bottom: 0.5em;
    position: relative;
    left: 10px;
  }
  .item-food {
    text-align: center;
  }
  .pay {
    width: 70vw;
    height: 70vw;
  }
}

@media (min-width: 1210px) {
  .container {
    width: 50vw;
    margin: auto;
  }
}
